<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Add Assignment</title>
  </head>
  <body>
    <h1>Add an Assignment</h1>
    <form action="/assignments/add-confirmation" method="POST" class="add-form">
      <div>
        <label for="name">Assignment Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="score">Your Score</label>
        <input type="number" name="score" id="score" />
      </div>
      <div>
        <label for="total">Total Possible Score</label>
        <input type="number" name="total" id="total" />
      </div>
      <div>
        <input type="checkbox" name="completed" id="completed" />
        <label for="completed">Have you completed this assignment?</label>
      </div>
      <button>Add</button>
      <a href="/">Never Mind</a>
    </form>
  </body>
</html>